<h1><code ng:non-bindable="">Subscribers</code>
<div><span class="hint">service in module <code ng:non-bindable="">xos.helpers</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="xos-helpers-subscribers-page"><p>Angular resource to fetch Subscribers</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_read-subscriber-cdn">Read-Subscriber-cdn()</h3>
<div class="read-subscriber-cdn"><div class="xos-helpers-subscribers-read-subscriber-cdn-page"><p>Read-Subscriber-cdn</p>
</div></div>
</li>
<li><h3 id="methods_read-subscriber-downlink_speed">Read-Subscriber-downlink_speed()</h3>
<div class="read-subscriber-downlink_speed"><div class="xos-helpers-subscribers-read-subscriber-downlink-speed-page"><p>Read-Subscriber-downlink_speed</p>
</div></div>
</li>
<li><h3 id="methods_read-subscriber-status">Read-Subscriber-status()</h3>
<div class="read-subscriber-status"><div class="xos-helpers-subscribers-read-subscriber-status-page"><p>Read-Subscriber-status</p>
</div></div>
</li>
<li><h3 id="methods_read-subscriber-uplink_speed">Read-Subscriber-uplink_speed()</h3>
<div class="read-subscriber-uplink_speed"><div class="xos-helpers-subscribers-read-subscriber-uplink-speed-page"><p>Read-Subscriber-uplink_speed</p>
</div></div>
</li>
<li><h3 id="methods_read-subscriber-uverse">Read-Subscriber-uverse()</h3>
<div class="read-subscriber-uverse"><div class="xos-helpers-subscribers-read-subscriber-uverse-page"><p>Read-Subscriber-uverse</p>
</div></div>
</li>
<li><h3 id="methods_update-subscriber-cdn">Update-Subscriber-cdn()</h3>
<div class="update-subscriber-cdn"><div class="xos-helpers-subscribers-update-subscriber-cdn-page"><p>Update-Subscriber-cdn</p>
</div></div>
</li>
<li><h3 id="methods_update-subscriber-downlink_speed">Update-Subscriber-downlink_speed()</h3>
<div class="update-subscriber-downlink_speed"><div class="xos-helpers-subscribers-update-subscriber-downlink-speed-page"><p>Update-Subscriber-downlink_speed</p>
</div></div>
</li>
<li><h3 id="methods_update-subscriber-status">Update-Subscriber-status()</h3>
<div class="update-subscriber-status"><div class="xos-helpers-subscribers-update-subscriber-status-page"><p>Update-Subscriber-status</p>
</div></div>
</li>
<li><h3 id="methods_update-subscriber-uplink_speed">Update-Subscriber-uplink_speed()</h3>
<div class="update-subscriber-uplink_speed"><div class="xos-helpers-subscribers-update-subscriber-uplink-speed-page"><p>Update-Subscriber-uplink_speed</p>
</div></div>
</li>
<li><h3 id="methods_update-subscriber-uverse">Update-Subscriber-uverse()</h3>
<div class="update-subscriber-uverse"><div class="xos-helpers-subscribers-update-subscriber-uverse-page"><p>Update-Subscriber-uverse</p>
</div></div>
</li>
<li><h3 id="methods_view-a-subscriber-features-detail">View-a-Subscriber-Features-Detail()</h3>
<div class="view-a-subscriber-features-detail"><div class="xos-helpers-subscribers-view-a-subscriber-features-detail-page"><p>View-a-Subscriber-Features-Detail</p>
</div></div>
</li>
</ul>
</div>
</div>
