<h1><code ng:non-bindable="">xosTable</code>
<div><span class="hint">directive in module <code ng:non-bindable="">xos.uiComponents</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xostable-page"><p>The xos-table directive</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;xos-table
       config="{Object}"
       data="{Array}"&gt;
&lt;/xos-table&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xostable-page"><p>The configuration for the component.</p>
<pre><code>{
  columns: [
    {
      label: &#39;Human readable name&#39;,
      prop: &#39;Property to read in the model object&#39;,
      type: &#39;boolean&#39;| &#39;array&#39;| &#39;object&#39;| &#39;custom&#39;| &#39;date&#39; | &#39;icon&#39; // see examples for more details
            formatter: fn(), // receive the whole item if tipe is custom and return a string
            link: fn() // receive the whole item and return an url
    }
  ],
  classes: &#39;table table-striped table-bordered&#39;,
  actions: [ // if defined add an action column
          {
            label: &#39;delete&#39;,
            icon: &#39;remove&#39;, // refers to bootstraps glyphicon
            cb: (user) =&gt; { // receive the model
              console.log(user);
            },
            color: &#39;red&#39;
          }
        ],
        filter: &#39;field&#39;, // can be by `field` or `fulltext`
        order: true | {field: &#39;property name&#39;, reverse: true | false} // whether to show ordering arrows, or a configuration for a default ordering
}
</code></pre></div></td></tr><tr><td>data</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xostable-page"><p>The data that should be rendered</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xostable-page"><h3 id="basic-usage" id="example_basic-usage">Basic usage</h3>
<h4 id="example_basic-usage_source">Source</h4>
<div source-edit="sampleTable1" source-edit-deps="angular.js script.js" source-edit-html="index.html-738" source-edit-css="" source-edit-js="script.js-739" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-738" ng-html-wrap-loaded="sampleTable1 angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-738">
    <div ng-controller="SampleCtrl1 as vm">
      <xos-table data="vm.data" config="vm.config"></xos-table>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-739"></pre>
<script type="text/ng-template" id="script.js-739">
    angular.module('sampleTable1', ['xos.uiComponents'])
    .factory('_', function($window){
      return $window._;
    })
    .controller('SampleCtrl1', function(){
      this.config = {
        columns: [
          {
            label: 'First Name', // column title
            prop: 'name' // property to read in the data array
          },
          {
            label: 'Last Name',
            prop: 'lastname'
          }
        ]
      };

      this.data = [
        {
          name: 'John',
          lastname: 'Doe'
        },
        {
          name: 'Gili',
          lastname: 'Fereydoun'
        }
      ]
    });
  </script>
</div>
</div><h4 id="example_basic-usage_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="sampleTable1" ng-set-html="index.html-738" ng-eval-javascript="script.js-739"></div>
<h3 id="filtering" id="example_filtering">Filtering</h3>
<h4 id="example_filtering_source">Source</h4>
<div source-edit="sampleTable2" source-edit-deps="angular.js angular-animate.js script.js" source-edit-html="index.html-740" source-edit-css="" source-edit-js="script.js-741" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-740" ng-html-wrap-loaded="sampleTable2 angular.js angular-animate.js script.js"></pre>
<script type="text/ng-template" id="index.html-740">
    <div ng-controller="SampleCtrl2 as vm">
      <xos-table data="vm.data" config="vm.config"></xos-table>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-741"></pre>
<script type="text/ng-template" id="script.js-741">
    angular.module('sampleTable2', ['xos.uiComponents', 'ngAnimate'])
    .factory('_', function($window){
      return $window._;
    })
    .controller('SampleCtrl2', function(){
      this.config = {
        columns: [
          {
            label: 'First Name', // column title
            prop: 'name' // property to read in the data array
          },
          {
            label: 'Last Name',
            prop: 'lastname'
          }
        ],
        classes: 'table table-striped table-condensed', // table classes, default to `table table-striped table-bordered`
        actions: [ // if defined add an action column
          {
            label: 'delete', // label
            icon: 'remove', // icons, refers to bootstraps glyphicon
            cb: (user) => { // callback, get feeded with the full object
              console.log(user);
            },
            color: 'red' // icon color
          }
        ],
        filter: 'field', // can be by `field` or `fulltext`
        order: true
      };

      this.data = [
        {
          name: 'John',
          lastname: 'Doe'
        },
        {
          name: 'Gili',
          lastname: 'Fereydoun'
        }
      ]
    });
  </script>
</div>
</div><div class="pull-right"> <button class="btn btn-primary" ng-click="animationsOff=true" ng-hide="animationsOff">Animations on</button> <button class="btn btn-primary disabled" ng-click="animationsOff=false" ng-show="animationsOff">Animations off</button></div><h4 id="example_filtering_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-class="{'animations-off':animationsOff == true}" ng-embed-app="sampleTable2" ng-set-html="index.html-740" ng-eval-javascript="script.js-741"></div>
<h3 id="pagination" id="example_pagination">Pagination</h3>
<h4 id="example_pagination_source">Source</h4>
<div source-edit="sampleTable3" source-edit-deps="angular.js script.js" source-edit-html="index.html-742" source-edit-css="" source-edit-js="script.js-743" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-742" ng-html-wrap-loaded="sampleTable3 angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-742">
    <div ng-controller="SampleCtrl3 as vm">
      <xos-table data="vm.data" config="vm.config"></xos-table>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-743"></pre>
<script type="text/ng-template" id="script.js-743">
    angular.module('sampleTable3', ['xos.uiComponents'])
    .factory('_', function($window){
      return $window._;
    })
    .controller('SampleCtrl3', function(){
      this.config = {
        columns: [
          {
            label: 'First Name', // column title
            prop: 'name' // property to read in the data array
          },
          {
            label: 'Last Name',
            prop: 'lastname'
          }
        ],
        pagination: {
          pageSize: 2
        }
      };

      this.data = [
        {
          name: 'John',
          lastname: 'Doe'
        },
        {
          name: 'Gili',
          lastname: 'Fereydoun'
        },
        {
          name: 'Lucky',
          lastname: 'Clarkson'
        },
        {
          name: 'Tate',
          lastname: 'Spalding'
        }
      ]
    });
  </script>
</div>
</div><h4 id="example_pagination_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="sampleTable3" ng-set-html="index.html-742" ng-eval-javascript="script.js-743"></div>
<h3 id="field-formatter" id="example_field-formatter">Field formatter</h3>
<h4 id="example_field-formatter_source">Source</h4>
<div source-edit="sampleTable4" source-edit-deps="angular.js script.js" source-edit-html="index.html-744" source-edit-css="" source-edit-js="script.js-745" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-744" ng-html-wrap-loaded="sampleTable4 angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-744">
    <div ng-controller="SampleCtrl as vm">
      <xos-table data="vm.data" config="vm.config"></xos-table>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-745"></pre>
<script type="text/ng-template" id="script.js-745">
    angular.module('sampleTable4', ['xos.uiComponents'])
    .factory('_', function($window){
      return $window._;
    })
    .controller('SampleCtrl', function(){
      this.config = {
        columns: [
          {
            label: 'First Name',
            prop: 'name',
            link: item => `https://www.google.it/#q=${item.name}`
          },
          {
            label: 'Enabled',
            prop: 'enabled',
            type: 'boolean'
          },
          {
            label: 'Services',
            prop: 'services',
            type: 'array'
          },
          {
            label: 'Details',
            prop: 'details',
            type: 'object'
          },
          {
            label: 'Created',
            prop: 'created',
            type: 'date'
          },
          {
            label: 'Icon',
            type: 'icon',
            formatter: item => item.icon //note that this refer to [Bootstrap Glyphicon](http://getbootstrap.com/components/#glyphicons)
          }
        ]
      };

      this.data = [
        {
          name: 'John',
          enabled: true,
          services: ['Cdn', 'IpTv'],
          details: {
            c_tag: '243',
            s_tag: '444'
          },
          created: new Date('December 17, 1995 03:24:00'),
          icon: 'music'
        },
        {
          name: 'Gili',
          enabled: false,
          services: ['Cdn', 'IpTv', 'Cache'],
          details: {
            c_tag: '675',
            s_tag: '893'
          },
          created: new Date(),
          icon: 'camera'
        }
      ]
    });
  </script>
</div>
</div><h4 id="example_field-formatter_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="sampleTable4" ng-set-html="index.html-744" ng-eval-javascript="script.js-745"></div>
<h3 id="custom-formatter" id="example_custom-formatter">Custom formatter</h3>
<h4 id="example_custom-formatter_source">Source</h4>
<div source-edit="sampleTable5" source-edit-deps="angular.js script.js" source-edit-html="index.html-746" source-edit-css="" source-edit-js="script.js-747" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-746" ng-html-wrap-loaded="sampleTable5 angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-746">
    <div ng-controller="SampleCtrl as vm">
      <xos-table data="vm.data" config="vm.config"></xos-table>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-747"></pre>
<script type="text/ng-template" id="script.js-747">
    angular.module('sampleTable5', ['xos.uiComponents'])
    .factory('_', function($window){
      return $window._;
    })
    .controller('SampleCtrl', function(){
      this.config = {
        columns: [
          {
            label: 'Username',
            prop: 'username'
          },
          {
            label: 'Features',
            type: 'custom',
            formatter: (val) => {
              
              let cdnEnabled = val.features.cdn ? 'enabled' : 'disabled';
              return `
                Cdn is ${cdnEnabled},
                uplink speed is ${val.features.uplink_speed}
                and downlink speed is ${val.features.downlink_speed}
              `;
            }
          }
        ]
      };

      this.data = [
        {
          username: 'John',
          features: {
            "cdn": false,
            "uplink_speed": 1000000000,
            "downlink_speed": 1000000000,
            "uverse": true,
            "status": "enabled"
          }
        },
        {
          username: 'Gili',
          features: {
            "cdn": true,
            "uplink_speed": 3000000000,
            "downlink_speed": 2000000000,
            "uverse": true,
            "status": "enabled"
          }
        }
      ]
    });
  </script>
</div>
</div><h4 id="example_custom-formatter_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="sampleTable5" ng-set-html="index.html-746" ng-eval-javascript="script.js-747"></div>
</div></div>
</div>
