<h1><code ng:non-bindable="">xosNotification</code>
<div><span class="hint">service in module <code ng:non-bindable="">xos.helpers</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="xos-helpers-xosnotification-page"><p>This factory define a set of helper function to trigger desktop notification</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_notify">notify(title, options)</h3>
<div class="notify"><div class="xos-helpers-xosnotification-notify-page"><p>This method will check for user permission and if granted will send a browser notification.</p>
</div><h5 id="methods_notify_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>title</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="xos-helpers-xosnotification-notify-page"><p>The notification title</p>
</div></td></tr><tr><td>options</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="xos-helpers-xosnotification-notify-page"><p>The notification options: <code>{icon: &#39;url&#39;, body: &#39;Notification body&#39;}</code></p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
