<h1><code ng:non-bindable="">xosCustomValidator</code>
<div><span class="hint">directive in module <code ng:non-bindable="">xos.uiComponents</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xoscustomvalidator-page"><p>The xosCustomValidator directive.
This component apply a custom validation function</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY xos-custom-validator
     custom-validator="{function}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>customValidator</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xoscustomvalidator-page"><p>The function that execute the validation.</p>
<p>You should do your validation here and return true | false,
or alternatively you can return an array [errorName, true|false]</p>
</div></td></tr></tbody></table></div>
</div>
