<h1><code ng:non-bindable="">xosField</code>
<div><span class="hint">directive in module <code ng:non-bindable="">xos.uiComponents</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xosfield-page"><p>The xos-field directive.
This component decide, give a field wich kind of input it need to print.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;xos-field
       name="{string}"
       field="{object}"
       ng-model="{mixed}"&gt;
&lt;/xos-field&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xosfield-page"><p>The field name</p>
</div></td></tr><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xosfield-page"><p>The field configuration:</p>
<pre><code>{
  label: &#39;Label&#39;,
  type: &#39;number&#39;, //typeof field
  validators: {} // see xosForm for more details
}
</code></pre></div></td></tr><tr><td>ngModel</td><td><a href="" class="label type-hint type-hint-mixed">mixed</a></td><td><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xosfield-page"><p>The field value</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="xos-uicomponents-directive-page xos-uicomponents-directive-xosfield-page"><h3 id="basic-example" id="example_basic-example">Basic Example</h3>
<p>  <h4 id="example_basic-example_source">Source</h4>
<div source-edit="sampleField1" source-edit-deps="angular.js script.js" source-edit-html="index.html-119" source-edit-css="" source-edit-js="script.js-118" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-119" ng-html-wrap-loaded="sampleField1 angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-119">
      <div ng-controller="SampleCtrl as vm">
        <xos-field ng-model="vm.model" name="vm.name" field="vm.field"></xos-field>
      </div>
    </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-118"></pre>
<script type="text/ng-template" id="script.js-118">
      angular.module('sampleField1', ['xos.uiComponents'])
      .factory('_', function($window){
        return $window._;
      })
      .controller('SampleCtrl', function(){
        this.name = 'input-name';
        this.field = {label: 'My String Value:', type: 'string'};
        this.model = 'my string';
      });
    </script>
</div>
</div><h4 id="example_basic-example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="sampleField1" ng-set-html="index.html-119" ng-eval-javascript="script.js-118"></div>
<h3 id="possible-values" id="example_possible-values">Possible Values</h3>
<p>  <h4 id="example_possible-values_source">Source</h4>
<div source-edit="sampleField2" source-edit-deps="angular.js script.js" source-edit-html="index.html-121" source-edit-css="" source-edit-js="script.js-120" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-121" ng-html-wrap-loaded="sampleField2 angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-121">
      <div ng-controller="SampleCtrl as vm">
        <xos-field ng-model="vm.field1.model" name="vm.field1.name" field="vm.field1.field"></xos-field>
        <xos-field ng-model="vm.field2.model" name="vm.field2.name" field="vm.field2.field"></xos-field>
        <xos-field ng-model="vm.field3.model" name="vm.field3.name" field="vm.field3.field"></xos-field>
        <xos-field ng-model="vm.field4.model" name="vm.field4.name" field="vm.field4.field"></xos-field>
      </div>
    </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-120"></pre>
<script type="text/ng-template" id="script.js-120">
      angular.module('sampleField2', ['xos.uiComponents'])
      .factory('_', function($window){
        return $window._;
      })
      .controller('SampleCtrl', function(){
        this.field1 = {
          name: 'number-field',
          field: {label: 'My Number Value:', type: 'number'},
          model: 2
        };

        this.field2 = {
          name: 'date-field',
          field: {label: 'My Date Value:', type: 'date'},
          model: new Date()
        };

        this.field3 = {
          name: 'boolean-field',
          field: {label: 'My Boolean Value:', type: 'boolean'},
          model: true
        };

        this.field4 = {
          name: 'email-field',
          field: {label: 'My Email Value:', type: 'email'},
          model: 'sample@domain.us'
        };
      });
    </script>
</div>
</div><h4 id="example_possible-values_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="sampleField2" ng-set-html="index.html-121" ng-eval-javascript="script.js-120"></div>
<h3 id="this-element-is-recursive" id="example_this-element-is-recursive">This element is recursive</h3>
<p>  <h4 id="example_this-element-is-recursive_source">Source</h4>
<div source-edit="sampleField3" source-edit-deps="angular.js script.js" source-edit-html="index.html-123" source-edit-css="" source-edit-js="script.js-122" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-123" ng-html-wrap-loaded="sampleField3 angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-123">
      <div ng-controller="SampleCtrl as vm">
        <h6 id="example_this-element-is-recursive_source_autogenerated-object-field">Autogenerated object field</h6>
        <xos-field ng-model="vm.model1" name="vm.name1" field="vm.field1"></xos-field>

        <h6 id="example_this-element-is-recursive_source_configured-object-field">Configured object field</h6>
        <xos-field ng-model="vm.model2" name="vm.name2" field="vm.field2"></xos-field>
      </div>
    </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-122"></pre>
<script type="text/ng-template" id="script.js-122">
      angular.module('sampleField3', ['xos.uiComponents'])
      .factory('_', function($window){
        return $window._;
      })
      .controller('SampleCtrl', function(){
        this.name1 = 'input-name';
        this.field1 = {label: 'My Object Field:', type: 'object'};
        this.model1 = {
          name: 'Jhon',
          age: '25',
          email: 'jhon@thewall.ru',
          active: true
        };

        this.name2 = 'another-name';
        this.field2 = {
          label: 'Empty Object Field',
          type: 'object',
          properties: {
            foo: {
              label: 'FooLabel:',
              type: 'string',
              validators: {
                required: true
              }
            },
            bar: {
              type: 'number'
            }
          }
        }
      });
    </script>
</div>
</div><h4 id="example_this-element-is-recursive_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="sampleField3" ng-set-html="index.html-123" ng-eval-javascript="script.js-122"></div>
</div></div>
</div>
